
div.cmd-stop, div.cmd-relative, form.cmd-move, div.cmd-speed, table.status-table {
    margin-top: 10px;
}
div.cmd-stop button {
    background-color: red;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 200%;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 3px gray;
}
div.cmd-stop button:active {
    margin-top: 5px;
    box-shadow: 3px 0 3px gray;
}
table.status-table thead {
    background-color: lightgray;
}

div.main-content {
    width: 400px;
    margin: 0 auto;
}

table.rel-buttons button {
    width: 100%;
}
